<form>
    <p>Enter the URL or a list of URLs (comma-separated) you want to explore.</p>

    <div class="form-group">
        <label for="Url">Url</label>
        <input id="Url" type="url" class="form-control" placeholder="www.meziantou.net"/>
    </div>

    <div class="form-group">
        <label for="UrlIncludePatterns">Includes patterns (regex, one per line)</label>
        <textarea id="UrlIncludePatterns" class="form-control"></textarea>
    </div>

    <button id="BtnCrawlStart" class="btn btn-primary"><i class="fa fa-spinner fa-spin"></i> Start</button>
    <button id="BtnCrawlStop" class="btn btn-danger">Stop</button>
    <button id="BtnCrawlExport" class="btn btn-default">Export JSON</button>
    <button id="BtnCrawlComputeReferences" class="btn btn-default">Compute References</button>
</form>

<hr/>

<div class="documents">
    <div class="card hide documents-list" id="DocumentListContainer">
        <div class="card-block">
            <h4 class="card-title">Requests <small>(<span id="DocumentCount">0</span>)</small></h4>
            <div id="DocumentList"></div>
        </div>
    </div>
    
    <div class="card hide document-details" id="DocumentDetailsContainer">
        <div class="card-block">
            <h4 class="card-title">Details <a href="#" class="float-xs-right"><i class="fa fa-times"></i></a></h4>
            <div id="DocumentDetails"></div>
        </div>
    </div>
</div>

@section scripts {
<script src="js/webcrawler.js"></script>
<script>
    var crawler = new WebCrawler.Crawler();
    crawler.loadConfiguration();
</script>
}