.hide {
    display: none;
}

.navbar-full {
    margin-bottom: 15px;
}

#BtnCrawlStart:not(:disabled) .fa {
    display: none;
}

.document-details {
    margin-left: 60px;
}

    .document-details pre {
        margin: 0.3em 0 1em;
        overflow: auto;
    }

.documents {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.documents-list {
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: 5px;
    overflow: hidden;
    min-width: 25%;
}

.document-details {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    overflow: hidden;
    margin-left: 5px;
}

    .document-details .summary {
        margin-bottom: 10px;
    }

.document {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    .document .tag {
        margin-right: 5px;
    }

pre {
    background-color: #f7f7f9;
}

details .details {
    margin-top: 10px;
    margin-bottom: 10px;
}

details .details > pre {
    margin-top: 0;
    margin-bottom: 0;
}

.code-error {
    color: #d9534f;
    font-weight: bold;
}

.document-url {
    word-wrap: break-word;
}

.document-language:before {
    content: " ";
}