#DocumentContainer {
    margin-top: 20px;
}

.details {
    margin-left: 60px;
}

    .details pre {
        margin: 0.3em 0 1em;
    }

.document{
    margin-bottom: 5px;
}

.status {
    border-radius: 5px;
    padding: 0 5px;
}

.status-ok {
    background-color: limegreen;
}

.status-redirect {
    background-color: orange;
}

.status-error {
    background-color: orangered;
}

:target {
    background-color: antiquewhite;
}