<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WebCrawler</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous" />
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>*@

    <link href="/css/site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-dark bg-inverse navbar-full">
        <h1 class="navbar-brand">
            Web Crawler <small>by meziantou</small>
        </h1>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.UtcNow.ToString("yyyy") - WebCrawler</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
